:root{
    --c-accent: #50FA7B;
    --c-background: #F8F8F2;
    --c-primary: #282A36;
    --c-secondary: #44475A;
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--c-accent);
    color: var(--c-primary);
  }

.header {
    align-items: center;
    background-color: var(--c-background);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.header__avatar {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.header__name {
    color: var(--c-primary);
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 40px;
}

.header__description {
    color: var(--c-secondary);
    font-family: 'Fira Code', monospace;
    font-size: .75em;
    text-transform: lowercase;
}

.header__divider {
    background: var(--c-secondary);
    border: 0px;
    height: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 150px;
}

.header__social-icons {
    display: flex;
}

.header__social-icons a {
    padding: 10px;
    color: var(--c-primary);
}

.header__social-icons a:hover {
    color: var(--c-secondary);
}

.header__social-icons svg {
    height: 22px;
    width: 22px;
}

.header__scroll-down {
    bottom: 0;
    color: var(--c-primary);
    padding: 10px;
    position: absolute;
}

.header__scroll-down:hover {
    color: var(--c-secondary);
}

.header__scroll-down svg {
    height: 22px;
    width: 22px;
}